@model ProductsListViewModel
@foreach (var p in Model.Products)
{
    @Html.Partial("_ProductSummary", p)
}
<div page-model="@Model.PagingInfo"
     page-action="List"
     page-classes-enabled="true"
     page-class="page-item"
     page-class-normal=""
     page-class-selected="active"
     page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>